<phpunit
colors="true"
bootstrap="./vendor/autoload.php"
>
    <testsuites>
        <testsuite name="All">
            <directory>./tests/</directory>
        </testsuite>
        <testsuite name="purist">
            <directory>./tests/purist</directory>
        </testsuite>
        <testsuite name="pragmatic">
            <directory>./tests/pragmatic</directory>
        </testsuite>
    </testsuites>
</phpunit>
