<phpunit
colors="true"
bootstrap="./vendor/autoload.php"
>
    <testsuites>
        <testsuite name="All">
            <directory>./tests/</directory>
        </testsuite>
        <testsuite name="pure">
            <directory>./tests/purist</directory>
        </testsuite>
        <testsuite name="prag">
            <directory>./tests/pragmatic</directory>
        </testsuite>
    </testsuites>
</phpunit>
